
@import "https://fonts.googleapis.com/css?family=Heebo|Krona+One|Lacquer";


#subtitle{font-family: 'Lacquer', sans-serif;}
#subtitle{color: black}
#subtitle{font-size: 45px}

body{font-family: 'Heebo', sans-serif;}
body{font-size: 20px}
body{background-image : url (legume-fruit.jpg},}

h1,h2,h3,p {font-family: 'Krona One', sans-serif;}
h1,h2,h3 {color: black}
h1,h2,h3{font-size: 45px}

a{text-decoration:none;}
a:hover {color:#2CB369 ;}
a:hover {background: white;}






